@model ALFATEX4TRADE.Models.Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
